.Group.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform: translateX(75px);
  padding: 45px;
}

.helper-name {
  color: #c8b6ff;
  font-weight: bold;
}

.online {
  padding: 5px;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block;
}

.online-status {
  background-color: rgb(40, 147, 205);
}

.in-person-status {
  background-color: #784497;
}

/* Add text wrapping for the issue text */
.issue, .helper {
  white-space: normal; /* Allow text to wrap naturally */
  word-wrap: break-word; /* Break long words if necessary */
  word-break: break-word; /* Ensure long unbreakable strings wrap */
}

/* Add responsiveness - Adjust max-width for smaller screens */
@media (max-width: 768px) {
  .Group > * {
    max-width: 100%; /* For smaller screens, make the max-width smaller */
  }
}
