.queue {
  padding: 10px;
  margin: 10px;
}

.helping {
  margin: 20px 40px;
}

.upcoming {
  margin: 20px 40px;
}

.queue .join-btn {
  position: absolute;
  top: 26px;
  right: 24px;
  padding: 5px 20px 5px 20px;
}

.queue .leave-btn {
  position: absolute;
  top: 26px;
  right: 24px;
  padding: 5px 20px 5px 20px;
}

.queue .done-btn {
  position: absolute;
  top: 32px;
  right: 24px;
  padding: 5px 20px 5px 20px;
}

.queue .help-btn {
  position: absolute;
  top: 32px;
  right: 24px;
  padding: 5px 20px 5px 20px;
}
