.queue {
  padding: 10px;
  margin: 10px;
}

.helping {
  margin: 20px 40px;
}

.upcoming {
  margin: 20px 40px;
}

.queue .title {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  margin-bottom: 20px;
  font-weight: bold;
  color: #c8b6ff;
}

.queue .title h1 {
  margin-right: auto; /* Add some space between the h1 and p elements */
}

.queue .title p {
  font-size: 1.5em;
}

.queue h2 {
  margin: 10px 0;
}

.queue .join-btn {
  position: absolute;
  top: 50%;
  right: 24px;
  padding: 5px 20px 5px 20px;
  transform: translateY(-50%);
}

.queue .leave-btn {
  position: absolute;
  top: 50%;
  right: 24px;
  padding: 5px 20px 5px 20px;
  transform: translateY(-50%);
}

.queue .private-btn {
  position: absolute;
  top: 50%;
  right: 24px;
  padding: 5px 17px 5px 17px;
  transform: translateY(-50%);
}

.queue .done-btn {
  position: absolute;
  top: 50%;
  right: 24px;
  padding: 5px 20px 5px 20px;
  transform: translateY(-50%);
}

.queue .help-btn {
  position: absolute;
  top: 50%;
  right: 24px;
  padding: 5px 20px 5px 20px;
  transform: translateY(-50%);
}
