.student_view .title {
  display: flex;
  justify-content: space-between; /* This pushes the elements to the far ends */
  align-items: center; /* This aligns the items vertically in the center */
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #c8b6ff;
}

.sign_in_out {
  margin-left: auto;
}

.new {
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
}
