.student_view .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  color: #c8b6ff;
}

.sign_in_out {
  margin-left: auto;
}

.new {
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  .student_view .title {
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
  }
}